<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Trunk">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_generated"/>
        <property name="context-root" value="Trunk"/>
        <property name="java-output-path" value="/Trunk/WebContent/WEB-INF/classes"/>
    </wb-module>
</project-modules>